@font-face {
  /* Signika */
  font-family: 'Signika';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Signika.eot'); /* IE9 Compat Modes */
  src: local('Great Vibes'), local('GreatVibes-Regular'),
       url('../fonts/Signika.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Signika.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Signika.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Signika.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Signika.svg#GreatVibes') format('svg'); /* Legacy iOS */
}

.holder {
  width: 24vw;
  height: 24vw;
  border: 1.2vmax solid black;
  background:white;
  padding: 0.5vmin 2.5vmax;
  margin: 0.65vmin 0.2vmin;
  align-content: stretch;
  background-image: url('');
  background-size: cover;
  min-width: 150px;
  min-height: 150px;
  max-width: 500px;
  max-height: 500px;
  flex-basis: auto; /* default value */
  flex-grow: 1;
}


.holder-body {
  max-height: 100%;
  padding: 1vmin 0;
}

.name {
  font-family: Signika,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
  font-weight: bold;
  font-size: 3.5vmin;
  margin-top:0.5vmax;
}

.description {
  font-family: Signika,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
  font-size: 2vmin;
  margin-top:5%;
  margin: 0 5%;
}

.unfinished {
  font-family: Signika,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
  color: #666;
  border-color: #666;
}

li, a {
  font-family: Signika,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
}

.link-n-gh {
  margin-top: 1vmin;
  font-family: Signika,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
  font-size: 2vmin;
}

img .link .gh {    // center content (the img) inside a foundation column
  display: block;
  margin: 0 auto;
}

.link {
  background-image: url('../images/link-icon-black.gif');
  background-size: cover;
  flex-basis: auto; /* default value */
  flex-grow: 1;
}

.footerpraize, a.footerpraize {
  text-align: right;
  font-family: Signika,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
  text-decoration: none;
  font-size: 2vmin;
  color: #999;
  margin-top: 2vmax;
}
