.holder {
  width: 24vw;
  height: 24vw;
  border: 1.2vmax solid black;
  background:white;
  padding: 1.2vmin 1.5vmax;
  margin: 0.65vmin 0.2vmin;
  align-content: stretch;
  background-image: url('');
  background-size: cover;
}

.name {
  font-family: Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
  font-weight: bold;
  font-size: 3.5vmin;
  margin-top:0.5vmax;
}

.description {
  font-family: Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
  font-size: 2vmin;
  margin-top:0.25%;
}

.linkto {

}

.gh {

}

.footerpraize {
  text-align: right;
  font-family: Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
  font-size: 2vmin;
  color: #999;
  margin-top: 3vmax;
}
