%footer
  .row.align-stretch.text-right
    .footerpraize.columns.align-stretch.align-left.small-5.small-offset-5.medium-5.medium-offset-7.large-4.large-offset-8.end
      This site is powered by Middleman
