%header
  %ul#myTopnav.topnav
    %li
      %a{href: "#"} home
    %li
      %a{href: "https://se.linkedin.com/in/irodrigomunoz", target: '_blank'} contact
    %li
      %a{href: "#"} thoughts
    %li#myBtn
      %a{href: "#"} about
    %li.icon
      %a{href: "#"} ☰


    -# .row.align-stretch.align-right.text-center.expanded.small-collapse.medium-collapse.large-collapse
    -#   .columns.align-stretch.small-12.small-collapse.medium-4.medium-collapse.large-4.large-collapse.end



-# .title-bar{"data-hide-for": "small", "data-responsive-toggle": "main-menu"}
-#   %button.menu-icon{"data-toggle": "", type: "button"}
-#   .title-bar-title Menu
-# #main-menu.top-bar
-#   .top-bar-left
-#     %ul.dropdown.menu{"data-dropdown-menu": ""}
-#       %li.menu-text rodrigo mu&ntilde;oz
-#   .top-bar-right
-#     %ul.menu{"data-responsive-menu": "drilldown medium-dropdown"}
-#       %li
-#         %a{href: "#"}
-#           %strong about
-#       %li
-#         %a{href: "#"}
-#           %strong contact
-#       %li
-#         %a{href: "#"}
-#           %strong thoughts
        -# %li
        -#   %a{href: "https://se.linkedin.com/in/irodrigomunoz", target: '_blank'}
        -#     = image_tag 'linkedin-logo-transp.png', width: '19px'
