%header
  %ul#myTopnav.topnav
    %li
      %a{href: "#"} home
    %li
      %a{href: "https://se.linkedin.com/in/irodrigomunoz", target: '_blank'} contact
    %li
      %a{href: "#"} thoughts
    %li#myBtn
      %a{href: "#"} about
    %li.icon
      %a{href: "#"} ☰
