#modal-1.md-modal.md-effect-1
  .md-content
    %h3 Modal Dialog
    %div
      %p This is a modal window. You can do the following things with it:
      %ul
        %li
          %strong Read:
          modal windows will probably tell you something important so don't forget to read what they say.
        %li
          %strong Look:
          a modal window enjoys a certain kind of attention; just look at it and appreciate its presence.
        %li
          %strong Close:
          click on the button below to close the modal.
      %button.md-close Close me!
/ the overlay element
.md-overlay
%br{type:"_moz"}/
