= javascript_include_tag 'javascripts/modal/classie.js'
= javascript_include_tag 'javascripts/modal/modalEffects.js'
/ for the blur effect
:javascript
  // this is important for IEs
  var polyfilter_scriptpath = '/js/';
= javascript_include_tag 'javascripts/modal/cssParser.js'
= javascript_include_tag 'javascripts/modal/css-filters-polyfill.js'
