.row
  %ul.small-block-grid-2.medium-block-grid-3.large-block-grid-4
  - data.projects.each do |project|
    %li.item{id: "haml_loud#{project[:id]}"}
      .name= project[:name]
      .description= project[:description]
