.row.align-stretch.align-center.text-center
  - data.projects.each do |project|
    .columns.align-stretch.small-6.medium-3.large-4.end
      -# .columns.small-6.medium-expand.large-expand.end
      .holder.text-center{style: "background-image: url('https://cdn.marilynekoka.me/images/thumbnails/trace1.jpg'); background-size: cover;"}
        %p.name= project[:name]
        %p.description= project[:description]
